<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/ab2155e76b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='/index.css' rel='stylesheet' />
    <title>Inicio</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Encuentra tu sucursal más cercana</h1>
                <p>Ingresa tu nombre y ciudad para decirte cuál es la más cercana a ti</p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="control-label"><i class="fas fa-dot-circle"></i></label>
                        <input type="text" id="name" placeholder="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="from" class="control-label"><i class="fas fa-map-marker-alt"></i></label>
                        <input type="text" id="from" placeholder="Origin" class="form-control" />
                    </div>

                </form>
                <button class="btn" onclick="calcRoute()"><i class="fas fa-directions directions-icon"></i>Calculate
                    Route</button>
            </div>
            <div id="objects"></div>
            <div class="container-fluid">
                <div id="googleMap"></div>
                <div id="output"></div>
            </div>

        </div>

    </div>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBXEwM0BWEWeIByZU4Za-B8719cYILddM&libraries=places"></script>
    <script src="/directions.js" type="module"></script>
</body>

</html>